* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background: #111111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.profile {
    border-radius: 200px;
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    box-shadow: 0px 0px 57px 45px rgba(0, 0, 0, 0);
    object-fit: cover;
}

.main-container .title {
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.developer {
    color: #e22000;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.contacts-container {
    max-width: 600px;
    width: 100%;
    padding: 15px;
}

.contacts-container .title {
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
}

.line {
    width: 200px;
    height: 1px;
    background: white;
    margin: 8px auto;
}

.contacts {
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.contact {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
}

.contacts a:hover {
    color: #e22000;
}

.contacts a i {
    margin-right: 8px;
}

@media (min-width: 768px) {
    .profile {
        width: 320px;
        height: 320px;
    }

    .main-container .title {
        font-size: 48px;
    }

    .developer {
        font-size: 36px;
    }

    .line {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .line {
        width: 100%;
    }
}